$yellow: #fcf003;
$white:#edebe6;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron{
    background-image:linear-gradient($yellow, #191654);
    color:$yellow;
    @include margenes(10px, 0px)
}

footer { 
    padding: 10px 10px 0 10px;
    background-image:linear-gradient($yellow,#191654);
    @include margenes(10px, 0px)
    color: $white;
}

.iconFixing{
    padding-right: 10px;
}

.col-sm-4{
    color: $white;
}

.card-cine{
    flex: 1 200px;
    @include margenes(10px, 0px)
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

a{
    color: $white;
}

.tab-content{
    padding-top: 10px;
}
