.jumbotron {
  background-image: linear-gradient(#fcf003, #191654);
  color: #fcf003;
  margin-top: 10px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-image: linear-gradient(#fcf003, #191654);
  margin-top: 10px;
  margin-bottom: 0px;
  color: #edebe6; }

.iconFixing {
  padding-right: 10px; }

.col-sm-4 {
  color: #edebe6; }

.card-cine {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

a {
  color: #edebe6; }

.tab-content {
  padding-top: 10px; }
